---
const { product, slug } = Astro.props;
---
<pre>{JSON.stringify(product, null, 2)}</pre>


<p>Title: {product?.title}</p>
<p>Afflink: {product?.afflink}</p>


<h1>{product.title}</h1>

<a href={product.afflink}>
  Buy Now
</a>
